{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h3 class="mb-4 text-center">
            {% if object %}Kitobni tahrirlash{% else %}Yangi kitob{% endif %}
        </h3>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    {% if object %}Yangilash{% else %}Saqlash{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}