{% extends "base.html" %}

{% block title %}Kitobni tahrirlash{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h3 class="mb-4">✏️ Kitobni tahrirlash</h3>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nomi</label>
                {{ form.title }}
            </div>

            <div class="mb-3">
                <label class="form-label">Muallif</label>
                {{ form.author }}
            </div>

            <div class="mb-3">
                <label class="form-label">Narxi</label>
                {{ form.price }}
            </div>

            <button type="submit" class="btn btn-primary">
                Yangilash
            </button>

            <a href="{% url 'books:book_list' %}" class="btn btn-secondary">
                Bekor qilish
            </a>
        </form>
    </div>
</div>
{% endblock %}